.banner{
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)) ,url("../assets/School Pics/school.jpg");
    width: 100%;
    min-height: fit-content;
    box-sizing: border-box;
    box-shadow: inset 0 0 15px black;
}